.categories-container__top {
    display: flex;
    gap: 24px;
    font-size: 1rem;
    padding: 40px 0;
    overflow: auto;
   

    .category-circle {
        padding: 6px 12px;
        border-radius: 4px;
        background: var(--primary-color-o1);
        color: var(--primary-color-o5);
        font-weight: 500;
        cursor: pointer;
        
        p {
            white-space: nowrap;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }


}