.container-single__product {
  max-width: 400px;
  
  .content-single__product {
    .container-image__product {
      width: 100%;
      max-width: 400px;
      max-height: 600px;
      position: relative;
      overflow: hidden;
      border-radius: 5px;
      
      img {
        max-width: 100%;
        height: 100%;
        -moz-transition: all 0.5s;
        -webkit-transition: all 0.5s;
        transition: all 0.5s;
        object-fit: cover;
      }

    }

    .container-image__product:hover img {
      -moz-transform: scale(1.2);
      -webkit-transform: scale(1.2);
      transform: scale(1.2);
      cursor: pointer;
    }
  }
}