.container-single__product {
  
  .content-single__product {
    .container-image__product {
      width: 100%;
      position: relative;
      overflow: hidden;
      border-radius: 5px;
      
      img {
        width: 100%;
        height: 100%;
        -moz-transition: all 0.5s;
        -webkit-transition: all 0.5s;
        transition: all 0.5s;
        object-fit: cover;
      }

    }

    .container-image__product:hover img {
      -moz-transform: scale(1.2);
      -webkit-transform: scale(1.2);
      transform: scale(1.2);
      cursor: pointer;
    }

  }

  .container-info__product {
    display: flex;
    max-width: 100%;
    align-items: center;
    justify-content: space-between;

    .info-product {
      padding: 12px 0;
      p {
        font-size: 1.25rem;
        padding-bottom: 4px;
        font-weight: 400;
        color: var(--black-color-o5);
        max-width: 12ch;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }

      h2 {
        font-size: 1.7rem;
        font-weight: 600;
        color: var(--black-color-o6);
      }
    }
    
    .add-to__cart {
      padding: 12px;
      border-radius: 5px;
      background: var(--primary-color-o2);
      transition: all 0.6s ease-in-out;
      cursor: pointer;

      svg {
        color: var(--primary-color-o5);
      }
    }

    .add-to__cart:hover {
      background: var(--primary-color-o5);

      svg {
        color: var(--primary-color-o2);
      }
    }
  }
}